python==3.9
pyTelegramBotAPI==4.4.0
python-telegram-bot==13.11
APScheduler==3.6.3
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
decorator==5.1.1
idna==3.3
pip==22.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
setuptools==58.1.0
six==1.16.0
tornado==6.1
tzdata==2022.1
urllib3==1.26.9
validators==0.18.2